/* Styles for the full page */
body {
  margin: 0;
}

a {
  color: white;
}

/* Navigation styles */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.center {
  flex-direction: row;
  align-items: center;
}
/* Column styles */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal1 {
  width: 33%;
}

.meal2 {
  width: 33%;
}

.meal3 {
  width: 33%;
}

/* Footer Styles */

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
}
